/* Övrigt */
div a 
{
	color: #000;
}

div a:hover 
{
	color: #000;
}

input {
	width: 30px;
	height: 30px;
	text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

nav{
	position:fixed;
}

/* Classes */
.tab{
	position: relative;
}

.tabcolorrow{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 15%;
}

.navclass{
	position: relative;
}

.border-3 {
    border-width:3px !important;
}

.orderlist{
	width: 300px;
	height: 400px;
	border: solid;

}

.grid-container {
	max-height: 700px;
	overflow-y: auto;
	overflow-x: visible;
}

.cancelOrder {
	background-color: #FF2323;
	color: white;
	width: 75%;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto; 
	text-align: center;
	padding: 10px;
	font-size: 20pt;
	border: #707070 1px solid;
	cursor: pointer;
}

.confirmOrder {
	background-color: #4d942a;
	color: white;
	cursor: pointer;
	width: 80%;
	height: 80px;
	bottom: 0;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto; 
	margin-bottom: 15px;
	text-align: center;
	padding: 15px;
	font-size: 20pt;
	border: #707070 1px solid;
}

.confirmOrderButton{
	background-color: #4d942a;
}

.orderTitle {
	font-size: 20pt;
	text-align: center;
	padding: 10px;
}

.orderLine {
	margin-top: 0;
	background-color: #707070;
}

.orderList {
	margin-top: 20px;
	border: #707070 1px solid;
	height: 700px;
}

.orderContainer {
	height: 500px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	overflow-y: auto;
	overflow-x: visible;
	font-size: 150%;
}

.amountBox {
	text-align:center;
}

.orderItem {
	padding-left: 40px;
}

.orderExtra {
	padding-left: 10px;
}

/* Id's */
#navbottom{
	position: absolute;
	left: 0px;
	bottom: -10px;
	width: 100%;
	height: 10px;
	background-color: #004369;
}

.editProduct {
	background-color: #4495FF;
	float: right;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 5px;
	cursor: pointer;
}
.removeProduct {
	background-color: #FF2323;
	float: right;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 5px;
	cursor: pointer;
}

.productClass{
	position: relative;
	overflow: hidden;
}

.categoryicon
{
	height: 85px;
	left: -50px;
	position: absolute;
	top: -50px;
	width: 85px;
	
	transform: rotate(45deg);
}

.pizza{
	background-color: #ff7b00;
}

.alc{
	background-color: #9f03dd;
}

.food{
	background-color: #ff0000;
}

.seafood{
	background-color: #26baff;
}

.coffee{
	background-color: #6e361c;
}

.drinkmisc{
	background-color: #bfdb42;
}

.dessert{
	background-color: #f297f5;
}

.productClass:hover{
	cursor: pointer;
}

.modal-footer{
	justify-content: normal;
}